

NET "PENABLE1" LOC = V15;
NET "PENABLE2" LOC = U11;
NET "PREADY1" LOC = U16;
NET "PREADY2" LOC = V16;
NET "PRESETN1" LOC = P14;
NET "PRESETN2" LOC = M13;
NET "PSEL1" LOC = T11;
NET "PSEL2" LOC = R10;
NET "PWRITE1" LOC = R12;
NET "PWRITE2" LOC = R11;
NET "RX2" LOC = R13;
NET "s_tick1" LOC = T14;
NET "s_tick2" LOC = R15;
NET "TX1" LOC = T15;
NET "TXRDY1" LOC = T16;
NET "TXRDY2" LOC = P15;
NET "PCLK1" LOC = E3;
NET "PADDR1[0]" LOC = N15;
NET "PADDR1[1]" LOC = M16;
NET "PADDR2[0]" LOC = R16;
NET "PADDR2[1]" LOC = N16;


NET "TXRDY2" IOSTANDARD = LVTTL;
NET "PCLK1" PULLUP;
NET "PRESETN1" PULLUP;
NET "PRESETN2" PULLUP;
NET "PSEL1" PULLUP;
NET "PSEL2" PULLUP;
NET "PWRITE1" PULLUP;
NET "PWRITE2" PULLUP;
NET "s_tick1" PULLUP;
NET "s_tick2" PULLUP;


NET "DATAOUT1[0]" LOC = A1;
NET "DATAOUT1[1]" LOC = A4;
NET "DATAOUT1[2]" LOC = A5;
NET "DATAOUT1[3]" LOC = A3;
NET "DATAOUT1[4]" LOC = A6;
NET "DATAOUT1[5]" LOC = A13;
NET "DATAOUT1[6]" LOC = A16;
NET "DATAOUT1[7]" LOC = B1;
NET "DATAOUT2[0]" LOC = V17;
NET "DATAOUT2[1]" LOC = U18;
NET "DATAOUT2[2]" LOC = R17;
NET "DATAOUT2[3]" LOC = P17;
NET "DATAOUT2[4]" LOC = N14;
NET "DATAOUT2[5]" LOC = U17;
NET "DATAOUT2[6]" LOC = T18;
NET "DATAOUT2[7]" LOC = R18;
NET "PRDATA1[0]" LOC = A9;
NET "PRDATA1[1]" LOC = B4;
NET "PRDATA1[2]" LOC = B13;
NET "PRDATA1[3]" LOC = B14;
NET "PRDATA1[4]" LOC = B17;
NET "PRDATA1[5]" LOC = B16;
NET "PRDATA1[6]" LOC = B18;
NET "PRDATA1[7]" LOC = B11;
NET "PWDATA1[0]" LOC = B6;
NET "PWDATA1[1]" LOC = B7;
NET "PWDATA1[2]" LOC = B8;
NET "PWDATA1[3]" LOC = B12;
NET "PWDATA1[4]" LOC = C9;
NET "PWDATA1[5]" LOC = C7;
NET "PWDATA1[6]" LOC = C11;
NET "PWDATA1[7]" LOC = B9;
NET "PWDATA2[0]" LOC = C1;
NET "PWDATA2[1]" LOC = C2;
NET "PWDATA2[2]" LOC = C4;
NET "PWDATA2[3]" LOC = C5;
NET "PWDATA2[4]" LOC = C17;
NET "PWDATA2[5]" LOC = D3;
NET "PWDATA2[6]" LOC = D4;
NET "PWDATA2[7]" LOC = D5;
NET "RX1" LOC = C10;
NET "RXRDY1" LOC = D8;
NET "RXRDY2" LOC = D7;
NET "TX2" LOC = D9;


NET "DATAOUT1[0]" IOSTANDARD = LVCMOS33;
NET "DATAOUT1[1]" IOSTANDARD = LVCMOS33;
NET "DATAOUT1[2]" IOSTANDARD = LVCMOS33;
NET "DATAOUT1[3]" IOSTANDARD = LVCMOS33;
NET "DATAOUT1[4]" IOSTANDARD = LVCMOS33;
NET "DATAOUT1[5]" IOSTANDARD = LVCMOS33;
NET "DATAOUT1[6]" IOSTANDARD = LVCMOS33;
NET "DATAOUT1[7]" IOSTANDARD = LVCMOS33;
NET "DATAOUT2[0]" IOSTANDARD = LVCMOS33;
NET "DATAOUT2[1]" IOSTANDARD = LVCMOS33;
NET "DATAOUT2[2]" IOSTANDARD = LVCMOS33;
NET "DATAOUT2[3]" IOSTANDARD = LVCMOS33;
NET "DATAOUT2[4]" IOSTANDARD = LVCMOS33;
NET "DATAOUT2[5]" IOSTANDARD = LVCMOS33;
NET "DATAOUT2[6]" IOSTANDARD = LVCMOS33;
NET "DATAOUT2[7]" IOSTANDARD = LVCMOS33;
NET "PADDR1[0]" IOSTANDARD = LVCMOS33;
NET "PADDR1[1]" IOSTANDARD = LVCMOS33;
NET "PADDR2[0]" IOSTANDARD = LVCMOS33;
NET "PADDR2[1]" IOSTANDARD = LVCMOS33;
NET "PRDATA1[0]" IOSTANDARD = LVCMOS33;
NET "PRDATA1[1]" IOSTANDARD = LVCMOS33;
NET "PRDATA1[2]" IOSTANDARD = LVCMOS33;
NET "PRDATA1[3]" IOSTANDARD = LVCMOS33;
NET "PRDATA1[4]" IOSTANDARD = LVCMOS33;
NET "PRDATA1[5]" IOSTANDARD = LVCMOS33;
NET "PRDATA1[6]" IOSTANDARD = LVCMOS33;
NET "PRDATA1[7]" IOSTANDARD = LVCMOS33;
NET "PRDATA2[0]" IOSTANDARD = LVCMOS33;
NET "PRDATA2[1]" IOSTANDARD = LVCMOS33;
NET "PRDATA2[2]" IOSTANDARD = LVCMOS33;
NET "PRDATA2[3]" IOSTANDARD = LVCMOS33;
NET "PRDATA2[4]" IOSTANDARD = LVCMOS33;
NET "PRDATA2[5]" IOSTANDARD = LVCMOS33;
NET "PRDATA2[6]" IOSTANDARD = LVCMOS33;
NET "PRDATA2[7]" IOSTANDARD = LVCMOS33;
NET "PWDATA1[0]" IOSTANDARD = LVCMOS33;
NET "PWDATA1[1]" IOSTANDARD = LVCMOS33;
NET "PWDATA1[2]" IOSTANDARD = LVCMOS33;
NET "PWDATA1[3]" IOSTANDARD = LVCMOS33;
NET "PWDATA1[4]" IOSTANDARD = LVCMOS33;
NET "PWDATA1[5]" IOSTANDARD = LVCMOS33;
NET "PWDATA1[6]" IOSTANDARD = LVCMOS33;
NET "PWDATA1[7]" IOSTANDARD = LVCMOS33;
NET "PWDATA2[0]" IOSTANDARD = LVCMOS33;
NET "PWDATA2[1]" IOSTANDARD = LVCMOS33;
NET "PWDATA2[2]" IOSTANDARD = LVCMOS33;
NET "PWDATA2[3]" IOSTANDARD = LVCMOS33;
NET "PWDATA2[4]" IOSTANDARD = LVCMOS33;
NET "PWDATA2[5]" IOSTANDARD = LVCMOS33;
NET "PWDATA2[6]" IOSTANDARD = LVCMOS33;
NET "PWDATA2[7]" IOSTANDARD = LVCMOS33;
NET "PENABLE1" IOSTANDARD = LVCMOS33;
NET "PCLK1" IOSTANDARD = LVCMOS33;
NET "PENABLE2" IOSTANDARD = LVCMOS33;
NET "PREADY1" IOSTANDARD = LVCMOS33;
NET "PREADY2" IOSTANDARD = LVCMOS33;
NET "PRESETN1" IOSTANDARD = LVCMOS33;
NET "PRESETN2" IOSTANDARD = LVCMOS33;
NET "PSEL1" IOSTANDARD = LVCMOS33;
NET "PSEL2" IOSTANDARD = LVCMOS33;
NET "PWRITE1" IOSTANDARD = LVCMOS33;
NET "PWRITE2" IOSTANDARD = LVCMOS33;
NET "RX1" IOSTANDARD = LVCMOS33;
NET "RX2" IOSTANDARD = LVCMOS33;
NET "RXRDY1" IOSTANDARD = LVCMOS33;
NET "RXRDY2" IOSTANDARD = LVCMOS33;
NET "s_tick1" IOSTANDARD = LVCMOS33;
NET "s_tick2" IOSTANDARD = LVCMOS33;
NET "TX1" IOSTANDARD = LVCMOS33;
NET "TXRDY1" IOSTANDARD = LVCMOS33;
NET "TX2" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "PRDATA2[0]" LOC = A10;
NET "PRDATA2[1]" LOC = B3;
NET "PRDATA2[2]" LOC = C12;
NET "PRDATA2[3]" LOC = C14;
NET "PRDATA2[4]" LOC = C15;
NET "PRDATA2[5]" LOC = A11;
NET "PRDATA2[6]" LOC = C16;
NET "PRDATA2[7]" LOC = C6;
